# Data folder (4D database — root only)
/[dD][aA][tT][aA]/

# Derived data
DerivedData/

# Libraries
Libraries/

# User preferences
userPreferences.*/

# Uncomment (remove the following # ) to ignore Trash
# Project/Trash

# System files
.DS_Store
ehthumbs.db
Thumbs.db


Project/Sources/AIProviders.json
